<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_index"
        android:label="TorresAnthonny"
        android:roundIcon="@mipmap/ic_index"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vista.actividades.ActividadArchivo"></activity>
        <activity android:name=".Vista.actividades.ActividadProductoHelper" />
        <activity android:name=".Vista.actividades.ActividadMemoriaSD" />
        <activity android:name=".Vista.actividades.ActividadProgramaReyes" />
        <activity android:name=".Vista.actividades.ActividadMemoriaPrograma" />
        <activity android:name=".Vista.actividades.ActividadMemoriaInterna" />
        <activity android:name=".Vista.actividades.ActividadRecycleArtistas" />
        <activity
            android:name=".Main2Activity"
            android:label="progra"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.actividades.ActividadEScucharFragmento" />
        <activity android:name=".Vista.actividades.ActiviFragmento" />
        <activity android:name=".Vista.actividades.Datos" />
        <activity android:name=".Vista.actividades.IngresarNombre" />
        <activity android:name=".Vista.actividades.ActiviteSumar" />
        <activity android:name=".Vista.actividades.Activitelogin" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>